/* styles.css */
/* Position the logo at the bottom right */
.logo-container {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}
.logo-container img {
    width: 150px;  /* Adjust size as needed */
    opacity: 0.8;  /* Optional: adjust opacity */
}

/* Style for the footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
    padding: 10px 0;
    z-index: 99;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom CSS for the sidebar logo and buttons */
.sidebar-logo img {
    width: 150px;  /* Adjust the size of the logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

